<extend name="Public:base" />
</extend>
<block name='main'>

<div class="admin">
    <empty name="deletedat">
	    <form method="post" action="/Admin/dealcommentdeletes">
    <else />
        <form method="post" action="/Admin/dealcommentrecoveryss">
    </empty>
    <div class="panel admin-panel">
        <div class="panel-head"><strong>评论列表</strong></div>
        <div class="padding border-bottom">
            <input type="button" class="button button-small checkall" name="checkall" checkfor="id[]" value="全选" />
             <empty name="deletedat">
                <input type="submit" class="button button-small border-yellow" value="批量删除" />
                 <a href="/Admin/commentlist/deletedat/1">
                      <input type="button" class="button button-small border-blue" value="回收站" />
                </a>
            <else />
                <input type="submit" class="button button-small border-yellow" value="批量恢复" />
                <a href="/Admin/commentlist">
                <input type="button" class="button button-small border-yellow"  value="返回评论列表" />
                </a>
             </empty>
            
        </div>
        <table class="table table-hover">
		     <tr>
                <th width="45">选择</th>
                <th width="120">ID</th>
                <th width="120">所属文章</th>
                <th width="240">评论人</th>
                <th width="240">评论时间</th>
                <th width="*">评论描述</th>
                <th width="100">操作</th>
            </tr>
            <foreach name="commentlist" item="val">
            <tr>
                <td><input type="checkbox" name="id[]" value="{$val['id']}" /></td>
                <td>
                    {$val["id"]}
                </td>
                <td>
                    {$val["article"]["title"]}
                </td>
                <td>
                    {$val["publish_user_name"]}
                </td>
                <td>
                    {$val["created_at"]|date="Y-m-d H:i:s",###}
                </td>
                <td>
                    {$val["content"]}
                </td>
                <td>
                    <empty name="deletedat">
                    <a class="button border-yellow button-little" href="/Admin/dealCommentdelete/{$val['id']}" >删除</a>
                    <else />
                     <a class="button border-yellow button-little" href="/Admin/dealcommentrecovery/{$val['id']}" >恢复</a>
                    </empty>
                </td>
            </tr>
            </foreach>
        </table>
        <div class="pu_page mtm">
            {$page}
        </div>
    </div>
    </form>
    <br />
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">MVC框架</a>构建</p>
</div>

</block>