<ul>
    <li <eq name="Think.CONTROLLER_NAME" value="Type"> 
    class="active"
	</eq>>
		<a href="/Admin/typelist">分类管理</a>
	</li>
	
    <li <eq name="Think.CONTROLLER_NAME" value="Article"> 
    class="active"
	</eq>>
		<a href="/Admin/articlelist">文章管理</a>
	</li>

    <li <eq name="Think.CONTROLLER_NAME" value="Comment"> 
    class="active"
    </eq>>
        <a href="/Admin/commentlist">评论管理</a>
    </li>
    <!-- <li><a href="#">评论管理</a></li>
    <li class="active"><a href="#">相册管理</a></li>
    <li><a href="#">页面管理</a></li>
    <li><a href="#">站长管理</a></li>
    <li><a href="#">友情链接</a></li> -->
</ul>