<html>
	<head>
  		<title>Hello World</title>
  	  <meta charset="utf-8">
  	 <!--  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
  		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/skip.css">
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/one.css">
  	  <style type="text/css">
        .row:after, .row:before{
         	display: inline;
         }
  	    </style>
	</head>
        
		<div class="jumbotron" >
  			<h1 align="center">Hello, world!</h1>
  			<p align="center" >别点进去了！里面什么都没有！</p>
  			<p align="center" ><a class="btn btn-primary btn-lg" href="/home/articlelist" role="button">Learn more</a></p>
		</div>

        <div class="sppl">
			<div class="row" >
 		 		<div class="col-sm-6 col-md-4">
   			 		<div class="thumbnail" > 
     					 <img class="img" src="__PUBLIC__/home/images/fengjing1.jpg"  alt="..."  >
     			 			<div class="caption" >
      			  				<h3>攻城狮正在努力开发......</h3>
       			  				<p>请耐心等待</p>
       			  				<br>
       			 				<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
       			 			</div>      	
   	 				</div>
 			 	</div>
			</div>
            
            <div class="row" >
 		 		<div class="col-sm-6 col-md-4">
   			 		<div class="thumbnail" > 
     					 <img class="img" src="__PUBLIC__/home/images/fengjing2.jpg"   alt="..."  >
     			 			<div class="caption" >
      			  				<h3>攻城狮正在努力开发......</h3>
       			  				<p>请耐心等待</p>
       			  			    <br>
       			 				<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
       			 			</div>      	
   	 				</div>
 			 	</div>
			</div>

            <div class="row" >
 		 		<div class="col-sm-6 col-md-4 right">
   			 		<div class="thumbnail" > 
     					 <img class="img" src="__PUBLIC__/home/images/fengjing3.jpg"  alt="..."  >
     			 			<div class="caption" >
      			  				<h3>攻城狮正在努力开发......</h3>
       			  				<p>请耐心等待</p>
       			  				<br>
       			 				<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
       			 			</div>      	
   	 				</div>
 			 	</div>
			</div>

		</div>
	
</html>