*{
	margin:0px;
	padding: 0px;
	list-style: none;
}
body{
	background-color: #F5F5F5;
}
a{
	text-decoration: none;
}
.container{
	display: flex;
	flex-direction: column;
}
/*====================================*/
header{
	width: 100%;
	height:50px;
	background-color: rgba(199,199,199,0.5);
	position:fixed;
	top: 0px;
}
header h1{
	font-size: 15px;
	color: gray;
	line-height: 50px;
	font-family: "华文仿宋";
}
.nav-ul{
	display: flex;
	text-align: center;
}
.home{
	width: 90px;
	height: 50px;
	margin: 0px 10px 0px 10px;
	font-size: 17px;
	color: white;
	line-height: 50px;
	text-align: center;
}
.top-li-xia{
	width: 110px;
	height: 30px;
	border-radius: 10px;
	margin: 10px 10px 0px 10px;
	line-height: 30px;
	background: url(../images/xia.png) no-repeat 20px 10px;
	position: relative;
	color: #ffffff;
	font-size:15px;
}
/*===================二级菜单部分==================*/
.erji{
	/*display: none;*/
	width: 150px;
	height: 100px;
	background-color: rgba(0,0,0,0.0);
	position: absolute;
	top:30px;
	left: -50px;
	border-radius: 5px;
	display: none;
}
.erji-ul{
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}
.erji-li{
	width: 150px;
	height: 32px;
	color: black;
	background-color: #ffffff;
	border-bottom: 1px solid black;
	font-size: 12px !important;
}
.erji-li1{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.erji-li6{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.sanjiao{
	width: 150px;
	height: 20px;
	background: url(../images/sanjiao.png) no-repeat 90px 0px;
}
.top-li-xia:hover .erji{
	display: block;
}
.erji-li:hover{
	background-color: #E89980;
}
.nav{
	margin: 0px 30px 0px 30px;
	display: flex;
	justify-content: space-between;
}
.top-li-btn{
	width: 50px;
	height: 26px;
	border-radius: 10px;
	margin: 10px 10px 0px 10px;
	padding:0px 10px 0px 10px;
	line-height: 26px;
	color: white;
	border: 2px solid rgba(255,255,255,0.4);
	font-size:15px;
}
.out{
	width: 150px !important;
	font-size:15px;
	background-color: #FF7575;
}
.top-li-btn:hover{
	background-color: rgba(255,255,255,0.2);
	transition: 0.5s all;
}
.top-li-xia:hover{
	background-color: rgba(255,255,255,0.2);
	transition: 0.5s all;
}
/*==========================================section===============================*/
section{
	width: 1200px;
	min-height: 500px;
	margin: 0px  auto;
	margin-top: 50px;
	padding:80px 0px 80px 0px;
	background-color: rgba(255,255,255,0.3);
	display: flex;
	justify-content: space-around;
}
.sec-l{
	width: 699px;
	min-height: 500px;
	padding: 50px 50px 50px 50px;
	border-right: 1px solid rgba(167, 173, 186,0.4);
}
.sec-l-h1{
	font-size: 30px;
	text-align: center;
}
.sec-l-p,.sec-l-p1{
	padding: 50px 0px 10px 0px ;
	text-indent: 15px;

}
/*sec-r{
	width: 400px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
}*/
.sec-r-hot{
	width: 350px;
	height: 230px;
	padding: 10px 25px 70px 25px;
	border-radius: 25px;
	background-color: rgba(255,255,255,0.8);
}
/*=================footer==========================*/
footer{
	width: 1583px;
	height: 220px;
}
.foot-img{
	width: 1583px;
	height: 80px;
	text-align: center;
	display: flex;
	padding-top: 100px;
	align-items: center;
}
.foot-img ul{
	width: 400px;
	display: flex;
	margin: 0px auto;
}
.foot-img ul li{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-left: 20px;
}
.foot-img-li1{
	background:url(../images/github.png) no-repeat 5px 6px;
}
.foot-img-li1:hover{
	background: url(../images/newgithub.png) no-repeat 5px 6px;
	transition: 0.5s all;
}
.foot-img-li2{
	background:url(../images/weibo.png) no-repeat 3px 3px;
}
.foot-img-li2:hover{
	background: url(../images/newweibo.png) no-repeat 3px 3px;
	transition: 0.5s all;
}
.foot-img-li3{
	position: relative;
	background:url(../images/weixin.png) no-repeat 5px 5px;
}
.foot-img-li3:hover{
	background: url(../images/newweixin.png) no-repeat 5px 5px;
	transition: 0.5s all;
}
.foot-img-li4{
	background:url(../images/phone.png) no-repeat 5px 6px;
}
.foot-img-li4:hover{
	background: url(../images/newphone.png) no-repeat 5px 6px;
	transition: 0.5s all;
}
.foot-img-li5{
	background:url(../images/renren.png) no-repeat 0px 5px;
}
.foot-img-li5:hover{
	background: url(../images/newrenren.png) no-repeat 0px 5px;
	transition: 0.5s all;
}
/*========================================================*/
.erweima{
	width: 150px;
	height: 150px;
	background-color: #ffffff;
	position: absolute;
	bottom: 60px;
	display: none;
}
.erweima img{
	width: 150px;
	height: 150px;
}
.foot-img-li3:hover .erweima{
	display: block;
}
/*=====================评论==================*/
.tp-sp{
	display: block;
	font-size:20px !important;
	margin-left: 650px;
}
.tp-sp-a{
	color:red;
}
